body {
  background-color: #2b2b3b; /* Background color */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.content.authenticated {
  margin-left: 220px; /* Match the width of the navbar */
  background: url('../public/images/dashboard-bg.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Creates the parallax effect */
  padding: 20px;
  min-height: 100vh;
  position: relative; /* Make sure the pseudo-element is positioned relative to this element */
}

.content.authenticated::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75); /* Black overlay with 50% opacity */
  z-index: 0; /* Ensure it stays behind the content */
  pointer-events: none; /* Allow clicks to pass through the overlay */
}

/* Ensure your actual content inside this class is positioned above the overlay */
.content.authenticated > * {
  position: relative;
  z-index: 1;
}


.loading {
  margin-left: 270px;
}

@media (max-width: 768px) {
  .content.authenticated {
    margin-left: 0;
    padding: 10px;
  }

  .navbar {
    width: 100%;
    position: absolute;
  }
}
