/* AdminDashboard.css */
.admin-dashboard {
  padding: 20px;
}

.admin-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.admin-tabs button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  background-color: #23c0d8;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.admin-tabs button.active, .admin-tabs button:hover {
  background-color: #2672c4;
  color: white;
}

.tab-content {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
