/* General Styles */
body {
    background-color: #1e1e2f; /* Dark background for medieval theme */
    color: #f1f1f1; /* Light text for readability */
    margin: 0;
    padding: 0;
  }
  

  
  /* Main Content Styles */
  .main-content {
    padding: 20px;
  }
  
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: url('../images/rolling-hills.png') no-repeat center center; /* Background image */
    background-size: cover; /* Cover the entire section */
    padding: 40px;
    border-radius: 10px;
    position: relative;
    color: white; /* Ensures text is readable over the image */
}

.top-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(143, 143, 143, 0.1), rgb(0, 0, 0)); 
    border-radius: 10px;
    z-index: 0;
}
  
.key-info,
.production {
    position: relative;
    z-index: 1; /* Places text above the gradient overlay */
}

.key-info {
    flex: 1;
    color: white;
    font-family: 'Bona Nova SC', serif;
    padding-right: 20px;
    max-width: 60%; /* Set a max-width to prevent overflow */
  }
  
  .production {
    flex: 1;
    color: white;
    font-family: 'Bona Nova SC', serif;
    text-align: right;
    padding-left: 20px;
  }
  
  .stats p, .production p {
    margin: 5px 0;
    font-size: 1rem;
  }
  
  /* Add a fixed width to the production section */
  .production {
    min-width: 250px; /* Set a minimum width to prevent shifting */
  }

.key-info h1 {
    margin-top: 0;
}
  
  .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .stats p {
    margin: 0 10px 0 0;
  }
  
  .production {
    flex: 1;
  }

  /** Tabs Section **/
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .tabs button {
    background-color: #2C2F48;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
  }
  
  .tabs button:hover {
    background-color: #454a73;
  }
  
  .tabs button.active {
    background-color: #6064a6;
    transform: scale(1.05);
  }
  
  .content {
    padding: 20px;
    border-radius: 5px;
  }



/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        width: 200px;
    }

    .main-content {
        margin-left: 220px;
    }

    .top-section,
    .content {
        flex-direction: column;
        text-align: center;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }

    .production {
        text-align: center;
    }
}