@import '../styles/colors.css';


/* General Styles */
body {
    background-color: #1e1e2f; /* Dark background for medieval theme */
    color: #f1f1f1; /* Light text for readability */
    margin: 0;
    padding: 0;
  }
  
  /* Main Content Styles */
  .main-content {
    padding: 20px;
  }
  

  
.overview-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.player-stats-container {
  width: 48%;
}


.key-info,
.production {
    position: relative;
    z-index: 1; /* Places text above the gradient overlay */
}


  
  .stats p{
    margin: 5px 0;
    font-size: 1rem;
  }
  
 
  .stats {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .stats p {
    margin: 0 10px 0 0;
  }
  

  /** Tabs Section **/
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .tabs button {
    background-color: #2C2F48;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
  }
  
  .tabs button:hover {
    background-color: #454a73;
  }
  
  .tabs button.active {
    background-color: #6064a6;
    transform: scale(1.05);
  }
  
  .content {
    padding: 20px;
    border-radius: 5px;
  }



/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        width: 200px;
    }

    .main-content {
        margin-left: 220px;
    }

    .top-section,
    .content {
        flex-direction: column;
        text-align: center;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }

}