@import '../styles/colors.css';

.navbar {
  width: 200px;
  background-color: var(--color-black); /* Dark background */
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 10;
  overflow-y: auto;
  padding-left: 0;
}
.navbar {
  border: solid 1px rgba(58, 70, 105, 0.452);
  padding-left: 0;
}

.navbar h2 {
  color: var(--color-cornsilk); /* Light text color */
  margin-bottom: 20px;
}

.nav-links {
  list-style: none;
  padding: 0;
  width: 100%;
}

.navbar ul li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-links li {
  width: 100%;
}

.bottom-nav {
  position: absolute;
  bottom: 20px;
  width: 90%;
  list-style: none;
  padding: 0;
}

.nav-links a, .nav-links button {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  color: var(--color-cornsilk); /* Light text color */
  text-align: center;
  width: 100%;
  border-radius: 10px;
  background-color: var(--color-feldgrau); /* Dark green background */
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6), inset -2px -2px 5px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  margin: 10px 0;
}

.nav-links a:hover, .nav-links button:hover {
  background-color: var(--color-rufous); /* Red hover color */
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.1), inset -1px -1px 3px rgba(0, 0, 0, 0.6), 0 0 5px rgba(255, 255, 255, 0.2);
}

button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 25px;
  width: 35px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger-line {
  width: 100%;
  height: 4px;
  background-color: var(--color-cornsilk); /* Light color for hamburger lines */
  border-radius: 2px;
  transition: all 0.3s ease;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.close-icon {
  font-size: 30px;
  color: var(--color-cornsilk); /* Light color for close icon */
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .logo-container {
    margin: 0;
  }

  .nav-links {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    background-color: var(--color-eerie-black); /* Dark background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .nav-links.open {
    transform: translateY(0);
  }

  .nav-links a, .nav-links button {
    padding: 10px 20px;
    margin: 5px 0;
  }

  .hamburger {
    display: flex;
    position: absolute;
    top: 15px;
    left: 20px;
  }

  .overlay {
    display: block;
  }

  .logo {
    display: none;
  }

  .bottom-links {
    position: relative;
    bottom: auto;
    margin-top: auto;
  }
}
