@import '../styles/colors.css';

body {
  background-color: var(--color-black);
  color: var(--color-beige);
}

.units-container {
  background-color: var(--color-black);
  color: var(--color-beige);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.75);
}


.units-container p {
  text-align: center;
}
.units-container h2 {
  margin-bottom: 20px;
  font-family: 'Bona Nova SC', serif;
  text-align: center;
}

.units-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  justify-items: center;
}

.tier-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tier-filters button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: var(--color-chamoisee);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tier-filters button.active {
  background-color: var(--color-midnight-green);
}

.tier-filters button:hover {
  background-color: goldenrod;
}

.unit-wrapper {
  width: 100%; 
  max-width: 350px;
  height: auto;
}


.unit-card {
  position: relative;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: solid 1px white;
  height: 200px; 

}

.unit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.unit-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.unit-info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.unit-info h3 {
  margin: 0;
  z-index: 1;
  font-size: 2.5rem;
}

.unit-info .cost {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: gold;
}

.details-box {
  background-color: var(--color-rich-black);
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}

.unit-wrapper .details-box.expanded {
  height: auto;
  opacity: 1;
  margin: 0;
}

.details-row {
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.current-units {
  margin-top: 10px;
}

.quantity-input {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: start;
  margin-top: 10px;
}

.quantity-input input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #6064a6;
  background-color: #2b2b3b;
  color: #fff;
  width: 60px;
  text-align: center;
}

.purchase-section {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.purchase-section button {
  background-color: var(--color-chamoisee);
  color: var(--color-black);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.purchase-section button:hover {
  background-color: #d6ae28;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.success-message {
  color: green;
  text-align: center;
  margin-top: 10px;
}

.recap-section {
  padding: 20px;
  background-color: var(--color-rich-black);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recap-table {
  width: 100%;
  border-collapse: collapse;
}

.recap-table th,
.recap-table td {
  padding: 10px;
  border: 1px solid var(--color-ash-gray);
  text-align: left;
}

.recap-table th {
  background-color: var(--color-air-force-blue);
  color: var(--color-beige);
}

.recap-table td {
  background-color: var(--color-midnight-green);
  color: var(--color-beige);
}
